/* for desktop */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
/* navbar start here */
.nav-logo{
    text-align: left;
}
.nav-heading{
    text-align: right;
}
.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
}
/* navbar end here */

/* profile start here */
.profile .top-sun-icon{

    right: 100px;
    width: 120px;
    transition: width 2s, transform 2s;
}
.profile .top-sun-icon:hover{
    width: 140px;
}

.description p{
    color: gray;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}
.profile .bottom-sun-icon{
    bottom: 20px;
    left: 140px;
    width: 120px;
    transition: width 2s, transform 2s;
}
.profile .bottom-sun-icon:hover{
    width: 140px;
}
/* profile end here */

/* achievement contact start here here */
.achievement{
    padding-right: 50px;
}
/* achievement contact end here here */